.footer
  .container.space-between
    ul.links
      li
        a(href='https://www.behance.net/newnewzhang' alt='behance')
          i.icon.icon-behance
      li
        a(href='https://www.instagram.com/shin_shin_zhang/' alt='instagram')
          i.icon.icon-instagram
      li
        a(href='https://www.linkedin.com/in/xin-zhang-3948897b/' alt='linkedin')
          i.icon.icon-linkedin-square
    div.foot-note
      | &copy; 2017 Xin Zhang.
      | Handcrafted with
      i.icon.icon-heart-o.ml-5(style='font-size:8px;padding-top:5px;')
