html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon" type="image/png" href="/dist/image/favicon.png")
    meta(name="description" content="Xin Zhang, Webdesign, Freelancer, UI, UX, Photograph")
    meta(name="Author" content="Xin ZHANG & Han ZHANG")
    meta(name="Copyright" content="Xin ZHANG")
    link(rel="stylesheet" type='text/css' href='/dist/css/app.min.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(name="robots" content="noimageindex")
  body
    img.img-fluid(src="/dist/image/hometask.jpg")
