//- page-a.pug
extends layout/layout.pug
block head
  title Portfolio

block content
  div.fullscreen-bg(style='background-image: url(/dist/image/bg-main.jpg);')

  section.container.pt-60.pb-60
    include includes/projects.pug
