html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon" type="image/png" href="/dist/image/favicon.png")
    meta(name="description" content="Xin Zhang, Webdesign, Freelancer, UI, UX, Photograph")
    meta(name="Author" content="Xin ZHANG & Han ZHANG")
    meta(name="Copyright" content="Xin ZHANG")
    - var prev = "About"
    - var next = "Projects"
    block head
    title Xin Zhang
    link(rel="stylesheet" type='text/css' href='/dist/css/app.min.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(name="robots" content="noimageindex")
  body
    include ../includes/side-nav.pug
    include ../includes/header.pug

    div(class=`scroll ${scroll_class}`)
      a(href='#scroll')
        h5 scroll
    block content
    //- include ../includes/footer.pug
    include ../includes/footer.pug

    script(src='/dist/js/app.min.js')
    script(async="" src="https://www.google-analytics.com/analytics.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-104068974-1', 'auto');
      ga('send', 'pageview');
